:host {
	--color-mine-shaft:     #222222;
	--color-tundora:        #444444;
	--color-dove-gray:      #666666;
	--color-boulder:        #7A7A7A;
	--color-alto:           #DDDDDD;
	--color-concrete:       #F2F2F2;
	--color-alabaster:      #F8F8F8;

	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Unify Sans';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_Rg.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_Rg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Unify Sans';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_SBd.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_SBd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Unify Sans';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_Bd.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_Bd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Unify Serif';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_Rg.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_Rg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Unify Serif';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_SBd.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_SBd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Unify Serif';
	src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_Bd.woff2') format('woff2'),
	url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_Bd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-weight: 900;
}

:host {
	--sans-serif: 'Unify Sans', Helvetica, Arial, sans-serif;
	--serif: 'Unify Serif', Georgia, TimesNewRoman, "Times New Roman", Times, serif;

	--font-weight-bold: 900;
	--font-weight-demi-bold: 600;
	--font-weight-normal: 400;

	--line-height-default: 1.15;
	--line-height-greater: 1.2;
	--line-height-expanded: 1.3;
	--line-height-body: 1.6;

	/* Base Font Sizes for Fluid Type. Use these when a scaling rate of "1" is needed */
	--type-1-base-size: 28px;
	--type-2-base-size: 24px;
	--type-3-base-size: 20px;
	--type-4-base-size: 18px;
	--type-5-base-size: 16px;
	--type-6-base-size: 14px;
	--type-7-base-size: 12px;
	--type-8-base-size: 10px;

	/* calc(base font size + (max font size - min font size) * ((100vw - min-width) / (max-width - min-width)) */
	--type-1: calc(var(--type-1-base-size) + (40 - 28) * ((100vw - 320px) / (1200 - 320)));
	--type-2: calc(var(--type-2-base-size) + (34 - 24) * ((100vw - 320px) / (1200 - 320)));
	--type-3: calc(var(--type-3-base-size) + (28 - 20) * ((100vw - 320px) / (1200 - 320)));

	--type-4: calc(var(--type-4-base-size) + (22 - 18) * ((100vw - 320px) / (1200 - 320)));
	--type-5: calc(var(--type-5-base-size) + (18 - 16) * ((100vw - 320px) / (1200 - 320)));

	--type-6: calc(var(--type-6-base-size) + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
	--type-7: calc(var(--type-7-base-size) + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
	--type-8: calc(var(--type-8-base-size) + (12 - 10) * ((100vw - 320px) / (1200 - 320)));
}
/* Max Sizes for Fluid Type */
@media all and (min-width: 1200px) {
	:host {
		--type-1: 40px;
		--type-2: 34px;
		--type-3: 28px;
		--type-4: 22px;
		--type-5: 18px;
		--type-6: 16px;
		--type-7: 14px;
		--type-8: 12px;
	}
}

:host {
	/* Display Fonts */
	--display-1: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-1);
		font-weight: var(--font-weight-bold);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-2: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-2);
		font-weight: var(--font-weight-bold);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-3: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-3);
		font-weight: var(--font-weight-bold);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-4: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-4);
		font-weight: var(--font-weight-demi-bold);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-5: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-5);
		font-weight: var(--font-weight-demi-bold);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-6: {
		color: var(--color-tundora, #444);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-6);
		font-weight: var(--font-weight-normal);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-7: {
		color: var(--color-tundora, #444);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-7);
		font-weight: var(--font-weight-normal);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--display-8: {
		color: var(--color-tundora, #444);
		font-family: var(--sans-serif, sans-serif);
		font-size: var(--type-8);
		font-weight: var(--font-weight-normal);
		font-style: normal;
		line-height: var(--line-height-default, 1.15);
	};

	/* Body Fonts - Text Body in large, medium and small */
	--body-4: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--serif, serif);
		font-size: var(--type-4);
		font-weight: var(--font-weight-normal);
		letter-spacing: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--body-5: {
		color: var(--color-mine-shaft, #222222);
		font-family: var(--serif, serif);
		font-size: var(--type-5);
		font-weight: var(--font-weight-normal);
		letter-spacing: normal;
		line-height: var(--line-height-body, 1.6);
	};
	--body-6: {
		color: var(--color-tundora, #444444);
		font-family: var(--serif, serif);
		font-size: var(--type-6);
		font-weight: var(--font-weight-normal);
		letter-spacing: normal;
		line-height: var(--line-height-default, 1.15);
	};
	--body-7: {
		color: var(--color-tundora, #444);
		font-family: var(--serif, serif);
		font-size: var(--type-7);
		font-weight: var(--font-weight-normal);
		letter-spacing: normal;
		line-height: var(--line-height-default, 1.15);
	};
}

:host {
	/* Gutters and Margins */
	--gutter-width: 20px;
	--outer-margin: 20px;
	--half-gutter-width: calc(var(--gutter-width) * 0.5);
	--half-outer-margin: calc(var(--outer-margin) * 0.5);

	/* Column Width Values. Use for the value of the flex-basis poprerty */
	--one-column: 8.33333333%;
	--two-column: 16.66666667%;
	--three-column: 25%;
	--four-column: 33.33333333%;
	--five-column: 41.66666667%;
	--six-column: 50%;
	--seven-column: 58.33333333%;
	--eight-column: 66.66666667%;
	--nine-column: 75%;
	--ten-column: 83.33333333%;
	--eleven-column: 91.66666667%;
	--twelve-column: 100%;
}
/* Row and Column Styles  */
:host {
	--flex: {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	};
	--inline-flex: {
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: -webkit-inline-box;
		display: inline-flex;
	};
	--row: {
		@apply --flex;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
	};
	--row-reverse: {
		flex-direction: row-reverse;
	};
	--column-reverse: {
		flex-direction: column-reverse;
	};
	--column: {
		box-sizing: border-box;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding-right: var(--half-gutter-width, 10px);
		padding-left: var(--half-gutter-width, 10px);
	};
	--center: {
		-webkit-justify-content: center;
		justify-content: center;
		text-align: center;
	};
	--end: {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		text-align: end;
	};
	--top: {
		-webkit-align-items: flex-start;
		align-items: flex-start;
	};
	--middle: {
		-webkit-align-items: center;
		align-items: center;
	};
	--bottom: {
		-webkit-align-items: flex-end;
		align-items: flex-end;
	};
	--baseline: {
		-webkit-align-items: baseline;
		align-items: baseline;
	};
	--around: {
		-webkit-justify-content: space-around;
		justify-content: space-around;
	};
	--between: {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	};
	--no-gutter: {
		padding: 0;
	}
}
